*{
    margin: 0;
    padding: 0;
}
table {
    width: 100vw;
    height: 20vh;

}
.c1 {
    background-color: aqua;
    border: solid 1px;
    width: 50%;
    
}
.c2 {
    width: 50%;
    background-color: rgb(68, 255, 0);
    border: solid 1px;
    
}
h1 {
    margin-left: 20px;
}